@import './mods/config', './mods/_awards-moreResources', './mods/aboutBlock';

// banner
// ! video fix for lg desktop
.Banner__dv--1GSKS {
	max-height: unset !important;
}
.banner-title span {
	font-family: MetricMedium !important;
}

// highlighted feature
// ! border-top + border-bottom
// ! max-width 1080px + margin 0 auto
.highlightFeature__might-like-wrapper--2_B3C {
	max-width: 1080px;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	margin: 0 auto;
}

@media screen and (min-width: $tablet) {
	// tiles grid
	// ! max-height for desktop for properly render columns
	.tilesModule__tiles-module-content--CkVxa {
		max-height: 1355px;
	}

	.banner-title span {
		display: block;
	}
}

// horizontal module
div[data-componentid="horizontal_module"] {
	padding-top: 20px !important;
}

@media screen and (min-width: $tablet) {
	div[data-componentid="horizontal_module"] {
		padding-top: 60px !important;
	}
}
